<div class="tree treeComponent treeCceGroup">
  <ul>
    <!-- <li *ngFor="let item of trees; let i = index">
      <span class="title closed item" tabindex="0">
        <input
          type="checkbox"
          [id]="'id-' + i"
          [checked]="item['checked']"
          (change)="setSelected(item, i)"
        />
        <label [for]="'id-' + i">{{ item['title'] }}</label>
      </span>
      <ul class="ml-xxl py-base tree-flex">
        <li *ngFor="let subitem of item['items']">{{ subitem }}</li>
      </ul>
    </li> -->
  </ul>
</div>
