<div class="list-builder sm-12 md-12 lg-12">
    <div class="lb-block lb-main left">
        <div class="lb-header">

            <div class="title">{{ this.resourceName }} available</div>

            <div class="lb-filter">
                <input type="text" class="lb-filter-input lb-filter-main" placeholder="Type to search" (keyup)="filterItemsAvaliableChange($event.target.value)">
            </div>

            <div class="lb-controls">
                <div class="lb-header-cb">
                    <input type="checkbox" class="lb-primary-cb-all" id="lb-primary-cb-all" (click)="selectAllAdd($event)" [checked]="checkedAllItensAdd()">
                    <label for="lb-primary-cb-all">Select all items</label>
                </div>

                <div class="lb_header-counters">
                    <span class="lb-counter-total">{{ this._availableItems.length }}</span> |
                    <span class="lb-counter-selected">{{ this._toAdd.length }}</span> selected
                </div>
            </div>
        </div>

        <div class="lb-list">
            <p class="lb-placeholder" *ngIf="this._availableItems.length == 0">The list is empty.</p>

            <div class="lb-item" data-item-id="builder-{{i.id}}" *ngFor="let i of this._availableItems">
                <input type="checkbox" id="builder-{{i.id}}" (click)="toggleToAdd($event, i)" [checked]="checkedItemAdd(i)">
                <label for="builder-{{i.id}}">{{i[this.fieldName]}}</label>
            </div>
        </div>
    </div>

    <div class="lb-transfer-btns center">
        <button class="btn lb-add-btn" [disabled]="this._toAdd.length == 0" (click)="this._addItems()"><i class="icon icon-chevron-right"></i></button>
        <button class="btn lb-remove-btn" [disabled]="this._toRemove.length == 0" (click)="this._removeItems()"><i class="icon icon-chevron-left"></i></button>
    </div>

    <div class="lb-block lb-secondary right">
        <div class="lb-header">
            <div class="title">{{ this.resourceName }} added</div>

            <div class="lb-filter">
                <input type="text" class="lb-filter-input lb-filter-secondary" placeholder="Type to search" (keyup)="filterItemsSeletedChange($event.target.value)">
            </div>

            <div class="lb-controls">
                <div class="lb-header-cb">
                    <input type="checkbox" class="lb-secondary-cb-all" id="lb-secondary-cb-all" (click)="selectAllRemove($event)" [checked]="checkedAllItensRemove()">
                    <label for="lb-secondary-cb-all">Select all items</label>
                </div>

                <div class="lb_header-counters">
                    <span class="lb-counter-total">{{ this._selectedItems.length }}</span> |
                    <span class="lb-counter-selected">{{ this._toRemove.length }}</span> selected
                </div>
            </div>
        </div>

        <div class="lb-list">
            <p class="lb-placeholder" *ngIf="this._selectedItems.length == 0">The list is empty.</p>

            <div class="lb-item" data-item-id="builder-{{i.id}}" *ngFor="let i of this._selectedItems">
                <input type="checkbox" id="builder-{{i.id}}" (click)="toggleToRemove($event, i)" [checked]="checkedItemRemove(i)">
                <label for="builder-{{i.id}}">{{i[this.fieldName]}}</label>
            </div>
        </div>
    </div>
</div>