
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> <i class="fa-solid fa-people-roof"></i>User Management </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item [routerLink]="['user-management/profile']">
        <div matListItemTitle> <i class="fa-solid fa-users"></i>Profile</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['user-management/privacy-policy']">
        <div matListItemTitle> <i class="fa-sharp fa-solid fa-signature"></i>Privacy Policy</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><i class="fa-solid fa-gear"></i>Configuration </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item [routerLink]="['configuration/service-setting']">
        <div matListItemTitle> <i class="fa-solid fa-sliders"></i>Service Setting</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>